In [67]:
#conda install pandas-datareader
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import datetime as dt
from pandas_datareader.stooq import StooqDailyReader
import numpy as np

## Цены акций

In [2]:
start_date = dt.date(2009, 1, 7)
end_date = dt.date(2012, 1, 7)

In [1]:
tickers = ['HSBA.UK', 'BARC.UK', 'LLOY.UK', 'RBS.UK', 'BP.UK', 'RIO.UK', 'AAL.UK']

In [63]:
for ticker in tickers:
    df = StooqDailyReader(symbols=ticker, start=start_date, end=end_date).read()
    df = df.sort_index()
    df[start_date:end_date]['Close'].to_csv(ticker + '.csv', header=['Close'])

In [58]:
stock_prices = pd.read_csv('stock_prices.csv', index_col = 'Date')
stock_prices.head()

,AAL.L,BARC.L,BP.L,HSBA.L,LLOY.L,RBS.L,RDSA.L,RIO.L
Date,,,,,,,,
2009-07-01,1832.5,268.117004,490.000000,509.500000,45.445999,394.049988,1555.0,2158.0
2009-07-02,1726.0,266.962006,480.950012,500.299988,43.881001,379.000000,1504.0,2035.0
2009-07-03,1713.5,274.351990,479.250000,509.000000,44.945999,387.850006,1494.0,2026.0
2009-07-06,1628.5,270.425995,466.700012,506.450012,44.014000,376.750000,1463.0,1885.0
2009-07-07,1627.5,273.428009,467.799988,502.700012,43.948002,373.149994,1457.0,1920.0

## Log доходности

In [69]:
log_returns = np.log(stock_prices/stock_prices.shift(1))
log_returns = log_returns[1:]
log_returns.head()

,AAL.L,BARC.L,BP.L,HSBA.L,LLOY.L,RBS.L,RDSA.L,RIO.L
Date,,,,,,,,
2009-07-02,-0.059875,-0.004317,-0.018642,-0.018222,-0.035043,-0.038942,-0.033347,-0.058686
2009-07-03,-0.007269,0.027306,-0.003541,0.017240,0.023980,0.023082,-0.006671,-0.004432
2009-07-06,-0.050879,-0.014413,-0.026536,-0.005022,-0.020954,-0.029037,-0.020968,-0.072136
2009-07-07,-0.000614,0.011040,0.002354,-0.007432,-0.001501,-0.009601,-0.004110,0.018397
2009-07-08,-0.040118,-0.030875,-0.006003,-0.019484,-0.035316,-0.045646,-0.008270,-0.012843

In [70]:
log_returns.to_csv('log_returns.csv')

## 10-дневные арифметические доходности

In [72]:
day_10_returns = stock_prices.pct_change(periods=9)
day_10_returns[:20]

,AAL.L,BARC.L,BP.L,HSBA.L,LLOY.L,RBS.L,RDSA.L,RIO.L
Date,,,,,,,,
2009-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-14,-0.046112,0.033590,-0.033061,0.002551,-0.035911,-0.063063,-0.055305,-0.064180
2009-07-15,0.042874,0.084083,0.017569,0.061363,0.042934,0.011609,0.003324,0.034152
2009-07-16,0.026554,0.059934,0.025769,0.054224,0.036310,-0.016630,0.019411,0.026900
2009-07-17,0.109610,0.069516,0.059996,0.076118,0.021175,0.019244,0.049897,0.142706
2009-07-20,0.099232,0.057434,0.075673,0.111995,0.091039,0.085354,0.064516,0.163021
2009-07-21,0.191238,0.077698,0.086667,0.115619,0.152724,0.116971,0.083045,0.204959
2009-07-22,0.117505,0.040276,0.086405,0.111400,0.142183,0.119853,0.072314,0.176919
2009-07-23,0.171351,0.079338,0.107584,0.157980,0.202989,0.149289,0.098817,0.267420
2009-07-24,0.127722,0.062754,0.083333,0.147852,0.208963,0.160221,0.080546,0.264308
2009-07-27,0.101545,0.013333,0.095399,0.115799,0.266422,0.185265,0.090538,0.214410
2009-07-28,0.019722,-0.048675,0.027789,0.068738,0.182607,0.095462,0.047051,0.110953

In [73]:
day_10_returns = day_10_returns[9:]

In [74]:
day_10_returns.to_csv('10_days_returns.csv')

## Ставки

In [61]:
rates = pd.read_csv('rates.csv', index_col ='Date')
rates.head()

            0.25  0.50  0.75   1.00   2.00   3.00   5.00   7.00  10.00  15.00
Date
2009-07-06  7.93  8.84  9.59  10.20  11.65  12.15  12.24  12.09  11.89  11.70
2009-07-07  8.07  9.09  9.86  10.45  11.62  11.91  11.86  11.76  11.67  11.59
2009-07-03  7.92  8.91  9.70  10.33  11.68  12.01  11.86  11.62  11.46  11.39
2009-07-01  8.13  9.18  9.97  10.56  11.71  11.92  11.77  11.65  11.63  11.62
2009-07-08  8.08  9.04  9.80  10.38  11.61  11.95  11.95  11.87  11.81  11.74

In [62]:
rates = rates.sort_index()
rates.head()

            0.25  0.50  0.75   1.00   2.00   3.00   5.00   7.00  10.00  15.00
Date
2009-07-01  8.13  9.18  9.97  10.56  11.71  11.92  11.77  11.65  11.63  11.62
2009-07-02  7.96  8.93  9.69  10.29  11.55  11.91  11.90  11.74  11.56  11.41
2009-07-03  7.92  8.91  9.70  10.33  11.68  12.01  11.86  11.62  11.46  11.39
2009-07-06  7.93  8.84  9.59  10.20  11.65  12.15  12.24  12.09  11.89  11.70
2009-07-07  8.07  9.09  9.86  10.45  11.62  11.91  11.86  11.76  11.67  11.59

In [63]:
rates.to_csv('rates.csv')

## Курс

In [28]:
fx = StooqDailyReader(symbols='rubgbp', start=start_date, end=end_date).read()
fx = fx.sort_index()
fx = fx[start_date:end_date]['Close']
fx.to_csv('rubgbp.csv', header=['Close'])

In [64]:
fx = pd.read_csv('rubgbp.csv', index_col='Date')
fx = fx.sort_index()
fx.head()

             Close
Date
2009-07-01  1.9526
2009-07-02  1.9635
2009-07-03  1.9543
2009-07-06  1.9701
2009-07-07  1.9598

In [65]:
fx.to_csv('rubgbp.csv')